/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*================
MY STYLES
==================*/


body {
    background-color: #aad4cf;
}

.container {
    background-color: #d4e9e7;
    width: 1025px;
    margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;	
}


header .container{
	background-image: url("../images/lone-starfish-wide.jpg");
	width: 1024px; height: 340px;
		
	
}

header .h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 55pt;
	color: white;
	padding-top: 200px;
	text-align: center;
	
}



nav li{
	display:inline-block; 
	margin-top: 10px;
	padding-right: 120px;
	padding-left: 125px;
	
	border-right: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	cursor: pointer;
}

li{
	text-decoration: none;
}



main .h2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 26pt;
margin-top: 50px;
margin-left: 8px;

}

main .p{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 1.3;
	margin-top: 27px;
	margin-left: 6px;
	margin-right: 8px;	
}

img{
	float:left;
	margin-left: 9px;
	margin-top: 20px;
	margin-right: 25px;
	margin-bottom: 10px;
}

main .h3{
font-family: Arial, Helvetica, sans-serif;
font-size: 23pt;
margin-top: 30px;
margin-left: 8pt;
margin-bottom: 5px;
}

main .unorderedlist{
	margin-top: 10px;
	margin-left: 30px;
	padding-bottom: 20px;
	font-size: 12pt;
}

.h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23pt;
	margin-top: 1px;
	margin-left: 10px;
	text-align: left;
	}

  footer .container{
	width: 1025px;
	height: 550px;
	padding-top: 15px;	
  }

  .form{
	font-weight: bold;
	padding-left: 18px;
	padding-top: 10px;
	font-size: 12pt;
	margin-top: 10px;
	margin-left: 11px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	width: 980px;
	height: 450px;
	background-color: #d4e9e7;
	
}

input[type=text], textarea {
  width: 960px;
  padding: 9px 40px;
  margin: 15px 0;
  margin-left: 2px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}


  .h5{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	margin-left: 8px;
	margin-top: 10px;
	text-align: left;
	font-weight: bold;
  }

  .wrap {
	margin-top: 10px;
	margin-left: 12px;
    width: 100%;
    padding-right: 2px;
  }

  input[type=radio]{
	width: 5%;
	margin: -10px;
	
	
  }

  input[type=button]{
	background-color: #d4e9e7;
	border: 1px solid black;
	padding: 10px 8px;
	width: 50px;
	margin: 18px 2px;
	margin-left: 12px;
	cursor: pointer;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
  }

  .h6{
	
	margin-right: 20px;
	font-size: 15pt;
	font-weight: bold;
	text-align: right;
	padding-top: 40px;
	padding-left: 10px;
  }

  

  
    

  
 
	

	

	
	






  



	
	


	

	
	










